header {
    background-color: rgb(35, 211, 35);
    padding: 2rem;
}

.homeLink {
    margin-left: 2%;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    left: 3%;
}

.shoppingCartImage {
    width: 20px;
}

.shoppingCardButton {
    border-radius: 5%;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 3%;
    top: 1.5rem;
}

ul {
    list-style-type: none;
    display: inline-block;
}

ul li {
    display: block;
    float: left;
    padding-left: 3rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

li a {
    text-decoration: none;
}

a:visited{
    color:blue;
  }