header {
    background-color: rgb(35, 211, 35);
}

.homeLink {
    margin-left: 2%;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 3%;
}

.shoppingCartImage {
    width: 20px;
    background-color: orange;
}

button > svg {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.shoppingCartButton {
    border-radius: 5px;
    padding: 0.5rem 3rem;
    position: absolute;
    right: 3%;
    top: 0.5rem;;
    background-color: orange;
}

ul {
    list-style-type: none;
    display: inline-block;
}

ul li {
    display: block;
    float: left;
    padding-left: 3rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

li a {
    text-decoration: none;
}

a:visited{
    color:blue;
  }