.productTitleSinglePage {
  width: 90%;
  margin: 1rem auto;
  font-weight: bolder;
  font-size: 2rem;
}

.imageDiv {
  height: 40%;
  width: 100%;
}

.productImgSinglePage {
  max-width: 80%;
  margin: 1rem;
  vertical-align: middle;
  max-height: 90%;
}

.singleProductPage {
  height: 80vh;
  width: 80%;
  display: inline-block;
  text-align: center;
  align-items: center;
  vertical-align: top;
  /* For inline-block elements the default value of the vertical-align property is baseline. If we change the value to top, it will behave as expected and all singleProducts will be lined up */
  position: relative;
}

.addToCartButtonSeparatePage {
  padding: 1rem;
  background-color: rgb(35, 211, 35);
  border-radius: 5%;
  bottom: 3%;
  left: 45%;
  z-index: 998;
}

.itemDescription {
  margin-top: 7rem;
}

.singleProductInput {
  text-align: center;
}
